{% extends "base.html" %}

{% block content %}

<h1>DMCA Policy</h1>

<p>We respect the intellectual property rights of others.</p>

<p>If you believe that content on this website infringes your copyright,
please contact us with the following information:</p>

<ul>
<li>Your name and contact information</li>
<li>A description of the copyrighted work</li>
<li>The URL of the content</li>
<li>A statement that you believe the use is unauthorized</li>
</ul>

<p>After receiving a valid request, we will remove the content as soon as possible.</p>

<p>Email: admin@yourwebsite.com</p>

{% endblock %}